extends layout

block content
	section.hero.is-fullheight#head.contact
		.hero-body
			canvas
			.container.has-text-centered
				.columns.is-vcentered
					.column.is-8(style="margin: 0 auto;")
						#offer.ccover
							h2#title4 Contact Us
						.container
							form.form-group#myForm
								#contactCon
									.columns
										.column.is-12.col
											p.control.is-expanded
												input.input.form-control(type='text'
															placeholder='Name' 
															id='name' 
															name="name")
															
									.columns
										.column.is-12.col
											p.control.is-expanded
												input.input.form-control(
													type='email'
													placeholder='Email' 
													id='email'
													name='email')
												
									.columns
										.column.is-12.col
											textarea.textarea.form-control(placeholder='Explain how we can help you' id='textmessage' name="textmessage")
									.columns(align='left')
										.column.is-6.col
											p(align="left")
												a.button.is-large.is-primary.is-outlined.inquire#post
													| Send Message
												a.button.is-large.is-danger.is-outlined.inquire#reset
													| Reset

	script(src="https://code.jquery.com/jquery-3.1.1.min.js", integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=", crossorigin="anonymous")										
	script(src="/js/validate.js" type="text/javascript")											
									